.action{
  display: inline;
   margin-left: 30px;
}
.action,span{
    margin-left: 5px;
}
i{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .form{
        margin: auto;
        width: 80%;
    }
    
  }
  
@media only screen and (min-width: 600px) {
    .form{
        margin: auto;
        width: 100%;
    }
    
  }